* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
a {
  color: #000000;
  text-decoration: none;
}
html body img h1 h2 h3{
  margin: 0;
  padding: 0;
}

.section_title {
  margin: 100px 0;
}
/*
header
*/
html {
  max-width: 100vw;
}
#header {
  margin: 150px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-left: 30px;
}
.insta_image {
  width: 20px;
}
/*
main
*/
.mainvisual {
  max-width: 100vw;
  height: 500px;
}
#about {
  text-align: center;
  margin: 100px 200px;
}
.about_info {
  text-align: left;
}

#about ul li:first-child {
  margin-bottom: 50px;
}
#about .profile_text {
  margin-top: 50px;
}

#works {
  text-align: center;
  margin: 100px 200px;
}
#works ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#works ul li {
  width: 32%;
}

#works ul li img {
  max-width: 100%;
}

#news {
  text-align: center;
  margin: 100px 100px;
  padding: 0 50px;
}

#news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 20px;
}
#news dl dt {
  width: 20%;
  padding: 10px 0;
  border-bottom: solid 1px #c8c8c8;
}
#news dl dd {
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 10px 0;
}
#contact {
  text-align: center;
  margin: 100px 100px;
  padding: 0 50px;
}

#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#contact dl dt {
  width: 20%;
  padding: 10px 0;
  
}
#contact dl dd {
  width: 80%;
  padding: 10px 0;
}
#contact dl dd input {
  width: 100%;
  height: 20px;
  height: 3em;
}
#contact dl dd textarea {
  width: 100%;
  height: 15em;
}
.submit_btn {
  padding: 20px 100px;
  background-color: #000000;
  color: #c8c8c8;
  margin: 0;
}
/*
footer
*/
footer {
  text-align: center;
  background-color: #000000;
  color: #c8c8c8;
  width: 100%;
  padding: 48px 0;
}
footer p {
  height: 100%;
  
}
/* responsive */
@media screen and (max-width: 600px) {
  #header {
    margin: 10px 100px;
    display: block;
    align-items: center;
  }
  .section_title {
    margin: 80px 20px;
  }
  .site_title {
    text-align: center;
    margin: 20px 0;
  }
  .mainvisual{
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
  /* section about */
  #about {
    margin: 10px 10px;
  }
  #works {
    margin: 10px 20px;
  }
  #works ul {
    display: block;
    width: 100%;
  }
  #works ul li {
    width: 100%;
    margin-bottom: 50px;
  }
  /* section News */
  #news {
    margin: 10px 20px;
    padding: 0;
  }
  #news dl {
    display: block;
    text-align: left;
  }
  #news dl dt {
    width: 100%;
    border-bottom: 0;
    padding-top: 10px;
    padding-bottom: 0;
  }
  #news dl dd {
    width: 100%;
    padding-top: 0;
    padding-bottom: 10px;
  }
  /* section contact */
  #contact {
    margin: 10px 20px;
    padding: 0;
  }
  #contact dl {
    display: block;
    margin-bottom: 20px;
    text-align: left;
  }
  
  #contact dl dt {
    width: 20%;
    padding: 0;
    margin-top: 10px;
    
  }
  #contact dl dd {
    width: 100%;
    padding: 0;
  }
  /* footer */
  footer {
    padding: 10px 0;
    margin-top: 100px;
  }
}